.property-list-view {
    padding: 0 1rem;
    margin-top: 2rem;
    .list-view-top {
        .list-view-hdr {
            font-size: 1.2rem;
        }
        .list-view-text {
            font-size: 1rem;
        }
    }
    .property-list {
        margin: 1rem 0;
        .property-card {
            margin: 0rem 0 2rem 0;
            border-radius: 8px;
            border: 1px solid #ddd;
            overflow: hidden;
            img {
                overflow: hidden;
                &:hover {
                    animation: img-scale-up 1s ease;
                }
                @keyframes img-scale-up {
                    from {
                        transform: scale(1);
                    }
                    to {
                        transform: scale(1.05);
                    }
                }
            }
            .property-card-body {
                padding: 1rem !important;
                .property-price {
                    font-size: 1.25rem;
                    margin: 10px 0;
                    font-weight: bold;
                }
                p {
                    font-size: 1.2rem;
                    margin: 0.5rem 0;
                }
            }
        }
    }
}

//paginator
.list-view-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .total-pagination {
        margin: 0 auto;
        color: grey;
        text-align: center;
    }
    .link-list {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        .link-list-item {
            width: 2rem;
            margin: 0 0.25rem;
            padding: 5px;
            border: 1px solid $primary-light;
            background-color: $primary-light;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
                background-color: #e8e9ea;
            }
            &.current-page {
                background-color: #e8e9ea;
            }

            .link {
                color: $primary-hover;
                font-weight: bold;
                &:hover {
                    text-decoration: none;
                }
            }
            &:last-child {
                background-color: $primary-hover;
                & a {
                    color: white;
                }
            }
        }
    }
}

.google-map {
    position: fixed;
}
